/*----------------
    DEBUG
------------------*/
.debug .container {
    border: 2px dashed blueviolet;
}

.debug .row .col {
    border: 2px dashed lightcoral;
    background-color: rgba(240, 128, 128, 0.2);
    min-height: 200px;
}

/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/
.img-fluid {
    max-width: 100%;
}

/*----------------
    LAYOUT
------------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.container-small {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.row {
    display: flex;
}

.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}

.col {
    flex-grow: 1;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    padding-top: 100px;
    font-size: 50px;
    padding-bottom: 50px;
    font-weight: 900;
}

h2 {
    padding-top: 50px;
    padding-bottom: 30px;
}

h3 {
    /* padding: 10px; */
    /* border-top: 1px solid black; */
    text-align: left;
    font-size: 24px;
    padding-bottom: 10px;
}

h4 {
    padding-top: 40px;
}

i {
    font-size: 50px;
    bottom: 1000;
    left: 0;
}

li > i {
    font-size: 14px;
    padding-right: 10px;
}

.blue {
    color: blue;
    font-size: 20px;

}

/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-large {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #0061fe;
    color: white;
    margin: 20px 0;
    width: 80%;
}

.btn-primary {
    color: #fff;
    font-size: 14px;
    background-color: #0061fe;
}

/*----------------
    HEADER
------------------*/
header {
    padding: 10px;
    max-width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    height: 60px;
    background-color: white;
}

.cont-header {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 5px 10px;
}
    
 header ul {
    line-height: 28px;
    padding-left: 30px;
    list-style-type: none;
    text-decoration: none;
    gap: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

section li {
    text-decoration: none;
    padding-top: 15px;    
}

li{
    text-decoration: none;
    padding-top: 10px;
    list-style-type: none;
    /* padding-top: 50px; */
    /* justify-content: flex-start; */
    display: flex;
    align-items: baseline;
}

/*----------------
    MAIN
------------------*/
.sect-backgrb {
    background-color: #b4d0e6;
    min-height: 500px;
}

.hero-sect {
    /* background-color: #b4d0e6; */
    display: flex;
    gap: 30px;
    width: 100%;
    height: 359px;
}


.container .cols-small {
    display: flex;
    width: 30%;
}

input {
    margin-left: 15px;
}

.container .cols-big {
    display: flex;
    width: 70%;
}

.img-hero {
    max-width: 100%;
    height: 450px;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
    bottom: 0;
    left: 0;
}

.sect-plan {
    padding-top: 100px;
}

.products-cont {
    max-width: 100%;
    display: flex;
}

.products-det {
    margin-top: 50px;
    width: calc(100% / 3);
    /* justify-content: center; */
    /* display: flex; */
    border: 1px solid black;
    text-align: center;
}

.type-plan {
    font-size: 14px;
    /* padding: 15px; */
    /* padding-left: 30px; */
    /* padding-right: 30px; */
}

.type-plan > p {
    padding: 10px;
}

.products-price {
    text-align: left;
    border-top: 1px solid black;
    padding: 30px 30px;
}

.products-price-last {
    text-align: left;
    padding: 30px 30px;
}

p > i {
    font-size: 15px;
    padding-right: 5px;
}

span {
    font-size: 14px;
    line-height: 30px;
}

.text-grey {
    color: #6a7797;
    font-size: 12px;
}

.type-plan p:nth-of-type(2) {
    text-align: left;
    padding-left: 30px;
    padding-bottom: 50px;
}

hr { 
    width: 15%;
    margin-left: 30px;
}

/*----------------
    FOOTER
------------------*/