/*----------------
    DEBUG
------------------*/
.debug .container {
    border: 2px dashed blueviolet;
}

.debug .row .col {
    border: 2px dashed lightcoral;
    background-color: rgba(240, 128, 128, 0.2);
    min-height: 200px;
}

/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/
.img-fluid {
    max-width: 100%;
}

i {
    font-size: 50px;
    bottom: 1000;
    left: 0;
}

li > i {
    font-size: 14px;
    padding-right: 10px;
}

.blue {
    color: blue;
    font-size: 20px;
}
/*----------------
    LAYOUT
------------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.container-small {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    margin-top: 50px;
}

.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}
.gap-50 {
    gap: 50px;
}

.col {
    flex-grow: 1;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    padding-top: 100px;
    font-size: 50px;
    padding-bottom: 50px;
    font-weight: 900;
}

h2 {
    font-size: 35px;
    padding-bottom: 30px;
}

h3 {
    text-align: left;
    font-size: 24px;
    padding-bottom: 10px;
}

h4 {
    padding-top: 40px;
}

/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;   
}

.btn:hover {
    background-color: #468CFE;
    transition: 0.7s;
    color: #fff;
}

.btn-large {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #0061fe;
    color: white;
    margin: 20px 0;
    width: 80%;
}

.btn-large-last {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #0061fe;
    color: white;
    margin: 20px 0;
    width: 20%;
    position: absolute;
    top: 0;
    right: 1%;
}

.btn-primary {
    color: #fff;
    font-size: 14px;
    background-color: #0061fe;
}

.btn-article {
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid black;
    margin-top: 20px;
    font-size: 14px;
}

/*----------------
    HEADER
------------------*/
header {
    padding: 10px;
    max-width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cont-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 5px 10px;
}
    
 header ul {
    line-height: 28px;
    padding-left: 30px;
    list-style-type: none;
    text-decoration: none;
    gap: 20px;
    font-size: 14px;
    display: flex;

}

section ul {
    text-decoration: none;
    padding-top: 50px;    
}

section li {
    padding-top: 10px;
}

li {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: baseline;
}

.products-price-last li {
    padding-bottom: 30px;
}

/*----------------
    SECTION
------------------*/

section:not(:first-of-type) {
    margin-top: 150px;
}

section:last-of-type {
    margin-bottom: 200px;
}


.sect-backgrb {
    background-color: #b4d0e6;
    min-height: 500px;
}

.hero-sect {
    display: flex;
    gap: 30px;
    width: 100%;
    height: 359px;
}

.container .cols-small {
    display: flex;
    width: calc(100% / 3);
}

input {
    margin-left: 15px;
}

.container .cols-big {
    display: flex;
}

.img-hero {
    max-width: 100%;
    height: 450px;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
    bottom: 0;
    left: 0;
}

.products-cont {
    max-width: 100%;
    display: flex;
}

.products-det {
    margin-top: 50px;
    width: calc(100% / 3);
    border: 1px solid lightgrey;
    text-align: center;
}

.type-plan {
    font-size: 14px;
    text-align: center;
}

.type-plan > p {
    padding: 10px;
}

.products-price {
    text-align: left;
    border-top: 1px solid lightgrey;
    padding: 30px 30px;
    position: relative;
}

.products-price-last {
    text-align: left;
    padding: 30px 30px;
}

p > i {
    font-size: 15px;
    padding-right: 5px;
}

span {
    font-size: 14px;
    line-height: 30px;
}

.text-grey {
    color: #6a7797;
    font-size: 12px;
}

.type-plan p:nth-of-type(2) {
    text-align: left;
    padding-left: 30px;
    padding-bottom: 50px;
}

hr { 
    width: 15%;
    margin-left: 30px;
}

.row-product {
    margin-top: 50px;
    border: 1px solid lightgrey;
}

.products-price p {
    padding-top: 50px;
}

/*----------------
    ARTICLE
------------------*/

.cols-img {
    display: flex;
    width: 60%;
    padding: 10px;
    background-image: url(../img/partner.png);
    background-size: cover;
}

.cols-art {
    width: 40%;
    padding: 50px;
    min-height: 500px;
}

.container-small .cols-small {
    width: calc(100% / 3);

}

p > a {
    text-decoration: underline;
}

.small-article {
    width: 100%;
}

.cols-small h3 {
    margin-bottom: 30px;
}

/*----------------
    FOOTER
------------------*/

footer {
    background-color: #000;
    color: white;
}

.cont-foot-top {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 100px;
}

.cont-list-foot {
    width: 20%;
}

footer ul{
    margin-top: 20px;
    line-height: 28px;
    list-style-type: none;
    gap: 20px;
    font-size: 14px;
}

.cont-foot-bot {
    display: flex;
    width: 100%;
    padding: 30px 0;
}

.footer-hr {
    border: 1px solid white;
    margin: 0;
    margin-top: 100px;
}

footer i {
    font-size: 14px; 
    padding: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}